# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
my_env/
.venv/
venv.bak/
myenv/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test coverage reports
.coverage
*.coveragerc

# Logs
*.log

# Environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo


